.color1{
    background-color: rgb(220, 53, 69);
    color: white;
}
.color2{
    background-color: white;
    color: rgb(44, 62, 80);
}
#start{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 522px;
}
#start h1{
    font-size: 52px;
    font-weight: 750;
    margin-top: 15px;
    margin-bottom: 10px;
}
#start img{
    width: 180px;
    height: 220px;
}
#folio h2{
    text-align: center;
    font-size: 40px;
    margin: 20px;
    margin-bottom: 10px;
}
#folio div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
#folio div div{
    height: 198px;
    width: auto;
}
#folio img{
    height: 100%;
    width: 100%;
    background-color: blue;
    border-radius: 10px;
}
#folio{
    padding: 50px;
    padding-left: 222px;
    padding-right: 222px;
    min-height: 546px;
}
main{
    margin: 0;
}
#about div div{
    display: flex;
    justify-content: center;
    gap: 60px;
}
#about{
    min-height: 409px;
    display: flex;
    justify-content: center;
}
#about h2{
    text-align: center;
    font-size: 36px;
}
#about>div{
    width: 50%;
}
#about>div>div>p{
    width: 40%;
}
#contact form{
    display: flex;
    flex-direction: column;
}
#contact{
    min-height: 100vh;
    display: flex;
    justify-content: center;
}
#contact h2{
    text-align: center;
}
#contact input::placeholder{
    color: rgb(120, 120, 145);
}
#contact input,#contact textarea{
    border: none;
    margin-top: 8vh;
    margin-bottom: 8vh;
}
#contact hr{
    border: none;
    background-color: rgb(237, 239, 242);
    height: 1px;
    width: 100%;
}
#contact textarea::placeholder{
    color: rgb(120, 120, 145);
}
#contact button{
    background-color: rgb(220, 53, 69);
    color: white;
    height: 55px;
    width: 85px;
    border: none;
    border-radius: 10px;
}
#contact div{
    width: 38%;
}
@media (max-width:1024px) and (min-width:768px){
    #folio div{
        gap: 10px;
    }
    #folio{
        padding-left: 10%;
        padding-right: 10%;
    }
    #folio h2{
        margin-bottom: 100px;
    }
    #folio div div{
        height: 180px;
        width: auto;
    }
}
@media (max-width:768px){
    #folio div{
        gap: 10px;
    }
    #folio{
        padding-left: 10%;
        padding-right: 10%;
    }
    #folio h2{
        margin-bottom: 100px;
    }
    #folio div div{
        height: 140px;
        width: auto;
    }
    #about>div>div>p{
        width: 100%;
    }
    #about>div{
        width: 100%;
    }
}